.bn{
    color: rgb(128, 116, 116);
}
.nav-item{
    list-style: none;
}
.as{
    color: rgb(24, 167, 167) ;
}
.pp{
    color: rgb(24, 167, 167);
}
.kj{
    color: black;
}
.cv{
    font-size: 15px;
}